<div>
  <h2>Productos disponibles</h2>
</div>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>Price</th>
      <th>Category</th>
    </tr>
  </thead>
  <tbody>
    {{#each productos}}
      <tr>
        <td>{{title}}</td>
        <td>{{description}}</td>
        <td>{{price}}</td>
        <td>{{category}}</td>
      </tr>
    {{/each}}
  </tbody>
</table>