<div>
  <h2 class="titulo1">TU CARRITO</h2>
</div>

<table>
  <thead>
    <tr>
     <div><th>NAME</th></div>
     <div><th>PRICE</th></div>
     <div><th>CATEGORY</th></div>
     <div><th>DESCRIPTION</th></div>
    </tr>
  </thead>
  <tbody>
    {{#each cart}}
      <tr>
        <td>{{this.name}}</td>
        <td>{{this.price}}</td>
        <td>{{this.category}}</td>
        <td>{{this.description}}</td>
      </tr>
    {{/each}}
  </tbody>
</table>