<div>
  <h2>TU CARRITO</h2>
</div>

<table>
  <thead>
    <tr>
      <div>
        <th>NAME</th>
      </div>
      <div>
        <th>PRICE</th>
      </div>
      <div>
        <th>CATEGORY</th>
      </div>
      <div>
        <th>DESCRIPTION</th>
      </div>
    </tr>
  </thead>
  <tbody>
    {{#each cart}}
    {{#each this.products}}
    <tr>
      <td>{{this.product.name}}</td>
      <td>{{this.product.price}}</td>
      <td>{{this.product.category}}</td>
      <td>{{this.product.description}}</td>
    </tr>
    {{/each}}
    {{/each}}
  </tbody>
</table>