<article>
  <h1 class="titulo1">LOGIN</h1>
  {{#if flash.error}}
  <div class="alert alert-danger">{{flash.error}}</div>
{{/if}}
  <form action="/login" method="POST">
    <input type="text" name="email" placeholder="Correo">
    <input type="password"  name="password" placeholder="Contraseña">
    <p><a href="/reset-password">Restaurar contraseña</a></p>
    <p>Quiero <a href="/register">registrarme</a></p>
    <button type="submit" class="boton2">Entrar</button>
    <a href="/auth/github" role="button" class="boton2"><img src="https://static.vecteezy.com/system/resources/previews/016/833/880/non_2x/github-logo-git-hub-icon-with-text-on-white-background-free-vector.jpg"alt="" class="imagen1"></a>
  </form>
</article>
