<h1>MENSAJES</h1>

<ul id="list-messages">
  {{#each messages}}
    <li>
      <p><strong>{{this.name}}</strong>: {{this.mensaje}} {{this.mail}}</p>
    </li>
  {{/each}}
</ul> 

<form id="form-message">
  <input type="text" name="fullname" id="input-fullname" placeholder="Ingresa tu nombre" required>
  <input type="text" name="message" id="input-message" placeholder="Ingresa mensaje..." required>
  <input type="text" name="mail" id="input-message" placeholder="Ingresa tu mail..." required>
  <button type="submit">Enviar</button>
</form>

<script src="/socket.io/socket.io.js"></script>
<script src="/static/javascripts/script.js"></script>