<h1 class="titulo1">Bienvenidx {{first_name}}</h1>

<p>Nombre: {{first_name}}</p>
<p>Apellido: {{last_name}}</p>
<p>Correo: {{email}}</p>

<a href="/api/sessions/logout" role="button" class="boton1">Logout</a>
<th><a href="/productos"role="button" class="boton1">Ver productos</a></th>