<article>
  <h1>Restaurar Contraseña</h1>
  {{#if error }}
    <p>{{error}}</p>
  {{/if}}
  <form action="/api/sessions/reset-password" method="POST">
    <input type="text" name="email" placeholder="Mail">
    <input type="password"  name="password" placeholder="Contraseña">
    <p>Ir a <a href="/login">login</a></p>
    <button type="submit" class="boton1">Restaurar</button>
  </form>
</article>
